.vercel
node_modules
.vscode
.DS_Store
dist
build
.env
.env.local
.env.development
.env.production
.env.test
*.log
*.lock
.idea
*.sublime-project
*.sublime-workspace
*.code-workspace
*.swp
*.bak
*.tmp
*.cache
*.tsbuildinfo
*.eslintcache
*.prettiercache
*.next
.out
.next-cache